#inicioform {
    width: 300px;
    border: 1px;
    background-color: rgba(235, 229, 229, 0.2);
    display: flex;
    justify-content: center;
    padding: 20px 25px;
    flex-direction: column;
    margin-left: 535px;
}
body {
    background-image: url(/src/img/cat-974.gif);
}
input {
    background-color: rgb(255, 69, 0, 0.2);
    margin-top: 7px;
    margin-bottom: 5px;
}
.Titulo {
    color: white;
    margin-left: 620px;
}
input::placeholder {
    color: white;
}
.Cat {
    color: red;
    margin-left: 550px;
    font-family: monospace;
}