body{
    color: #ffff;
}


.tablero{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 1px solid;
        grid-gap:  0px;
        border: 1px solid yellowgreen;
        width: 400px;
        height: 400px;
    position: absolute;
    left: 550px;
    box-shadow: 0px 0px 200px rgb(42, 3, 218);
}
.celda{
    border: 1px solid yellowgreen; 
    
}
.textoCambiar{
    display: none;
}
.titulo {
    display: flex;
    justify-content: center;
    color: white;
}
body {
    background-image: url(/src/img/tree-736877_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#boton {
    border: 1px solid silver;
    margin-top: 430px;
    margin-left: 630px;
}
#titu {
   color: white;
   margin-top: -5px;
   margin-left: px;
}
#descri{
    color: white;
    text-align: center;
}
.Rules {
    border: 1px solid blue;
    text-align: center;
    width: 800px;

}
.contenedor1 {
    display: flex;
    justify-content: center;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-turnos {
    width: 200px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}
.contenedor-turnos h4{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}
.contenedor-turnos .Turno{
    border: 3px solid yellowgreen;
    font-size: 1.5rem;
    margin-top: -20px;
    font-weight: 700;

}
.contenedor-turnos .Turno:nth-child(even){
    border-right: none;
}
.js {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100px;
   height: 60px;
   background-color: aqua;
   z-index: -1;
}
.js2{
    position: absolute;
   bottom: 0;
   left: 100px;
   width: 100px;
   height: 60px;
   background-color: aqua;
   z-index: -1;
}